page-home {    

    .image-login{       
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: #eee0;
        width: 50%;
        height: 50%;
    }

    .margin-container{
        margin-top: 10vh;
    }

    .title-welcome{
        font-size: 2.8em;
    }


}
